body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: lightgrey;
}

main {
    flex: 1;
    padding: 20px;
}

main > form {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #888888;
    
}

footer {
    padding: 20px;
    text-align: center;
}