body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
}

i {
    height: 40px;
    width: 40px;
    color: black;
    outline-color: black;
}

h1 {
    margin: 4px;
}