<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>CourseToDoList</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <header>
        <p>Hello, <%= name %>! </p>
        <button type="button">Log Out</button>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <%- include("partials/newItem") %>
                </div>
                <% if (listItems) { %>
                    <% listItems.forEach(function(item) { %>
                        <div class="col-md">
                            <%- include("partials/existingItem", { item: item }) %>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </main>
    <%- include("partials/copyright-footer") -%>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>