<div class="new_item">
    <form action="/item" method="post">
        <input type="text" name="title" />
        <input type="text" name="description" />
        <button type="submit">Save</button>
    </form>
</div>