<div class="g-col-6" style="width: 200px; height: 200px;">
    <form action="/item" method="post">
        <input type="text" name="title" />
        <input type="text" name="description" />
        <button type="submit">Save</button>
    </form>
</div>